<div {{ attributes.addClass('component').addClass('grid-x').addClass('grid-padding-x') }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('small-6 medium-3 cell') }}>{{ item.content }}</div>
  {% endfor %}
</div>
